*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish";
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    margin: 1.5rem 0;
}

.header-content .logo{
    font-size: 24px;
    font-weight: 700;
}

.header-content .logo strong{
    font-size: 24px;
    background: rgba(69, 143, 246, 1);
    border-radius: 50%;
    padding: .1rem 0.6rem;
    color: #fff;
    margin-right: .4rem;
}

.header-list .closebtn , span{
    display: none;
}

.header-list ul li{
    list-style-type: none;
    display: inline;
    margin-right: 1rem;
}

.header-list .home {
    opacity: 1;
    font-size: 18px;
    font-weight: 700;
}

.header-list ul li a{
    text-decoration: none;
    color: rgba(31, 21, 52, 1);
    opacity: 0.5;
    font-size: 18px;
    font-weight: 400;
}

@media(max-width:640px){
    .header-list ul li a{
        font-size: 16px;
    }
    .header-list .home{
        font-size: 16px;
    }
    .header-list ul li{
        margin-right: .3rem;
    }
}

@media(max-width:532px){
    .header-content{
        display: flex;
        justify-content: space-between;
    }
    .header-content {
        margin-left: .5rem;
        margin-right: .5rem;
    }

    .header-list .closebtn , span{
        display: inline;
    }
    .header-list ul li {
        display: block;
        margin-bottom: 1rem;
    }
    .header-list{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #ccc;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    .header-list .closebtn{
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        text-decoration: none;
        color: #000;
    }
}